<section id="main-banner" class="mt-5 p-5 p-lg-0 pt-lg-5 text-center text-md-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to <span class="text-primary">project name</span></h1>

                <p class="lead">
                    "Project name" is a free social media web application, where you can create your personal profile,
                    share your posts with your followers, find people, follow them, like and comment their posts and
                    participate in chat rooms.
                </p>

                <p class="lead">
                    Join us and have fun!
                </p>

                <a href="/auth/register" class="btn btn-primary btn-lg">
                    Start now
                </a>
            </div>

            {{!-- <img id="worldwide" class="img-fluid ms-5 d-none d-md-block" src="/static/img/worldwide.svg" alt="">
            --}}

            <img id="worldwide" class="img-fluid ms-5 d-none d-md-block" src="/static/img/relax.svg" alt="">

            {{!-- <img id="worldwide" class="img-fluid ms-5 d-none d-md-block" src="/static/img/working.svg" alt=""> --}}

            {{!-- <img id="worldwide" class="img-fluid ms-5 d-none d-md-block" src="/static/img/man.svg" alt=""> --}}
        </div>
    </div>
</section>

<section id="columns" class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="h1 mb-3">
                        <i class="bi bi-terminal"></i>
                    </div>

                    <h3 class="card-title mb-3">
                        Project Name
                    </h3>

                    <p class="card-text mx-1">
                        "Project name" is a project, developed by Doychin Ivanov. The application is open source and
                        free to use. Take a look behind the curtains in "project name"'s repo.
                    </p>

                    <a target="_blank" href="https://github.com/doychinivanov/social-media-prototype"
                        class="btn btn-outline-primary w-50 m-auto mb-4">See Repo <i class="bi bi-github"></i></a>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="h1 mb-3">
                        <i class="bi bi-laptop"></i>
                    </div>

                    <h3 class="card-title mb-3">
                        Other Projects
                    </h3>

                    <p class="card-text mx-1">
                        More projects from Doychin Ivanov can be found on his Github page.
                    </p>

                    <p class="card-text mx-1 my-2">
                        Feel free to check them out!
                    </p>

                    <a target="_blank" href="https://github.com/doychinivanov"
                        class="btn btn-outline-primary btn-block w-50 m-auto mb-4 mt-2">Github Page <i
                            class="bi bi-github"></i></a>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="h1 mb-3">
                        <i class="bi bi-people"></i>
                    </div>

                    <h3 class="card-title mb-3">
                        Contacts
                    </h3>

                    <p class="card-text mx-1">
                        In case you have any questions, you want to report a bug, or you just want to say hi
                    </p>

                    <p class="card-text mx-1 my-2">
                        Feel free to do it at doychinivn@gmail.com
                    </p>

                    <a href="mailto:doychinivn@gmail.com"
                        class="btn btn-outline-primary btn-block w-50 m-auto mb-4 mt-2">Send an email <i
                            class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-5 bg-light text-dark">
    <div class="row align-items-center justify-content-between">
        <div class="col-md">
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2021/06/24/12/27/elephants-6361065_960_720.jpg"
                alt="">
        </div>

        <div class="col-md p-5">
            <h2>Some text in here please</h2>

            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dolorum error, rem maiores voluptatem,
                odio illo eligendi repellat a praesentium nulla fugiat reprehenderit ipsum, iure quod? Odio ad tenetur
                ab.
            </p>

            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dolorum error, rem maiores voluptatem,
                odio illo eligendi repellat a praesentium nulla fugiat reprehenderit ipsum, iure quod? Odio ad tenetur
                ab.
            </p>

            <a href="#" class="btn btn-outline-primary mt-3"> <i class="bi bi-chevron-right"></i> Read More</a>
        </div>
    </div>
</section>


<section class="p-5">
    <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
            <h2>Some text in here please</h2>

            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dolorum error, rem maiores voluptatem,
                odio illo eligendi repellat a praesentium nulla fugiat reprehenderit ipsum, iure quod? Odio ad tenetur
                ab.
            </p>

            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dolorum error, rem maiores voluptatem,
                odio illo eligendi repellat a praesentium nulla fugiat reprehenderit ipsum, iure quod? Odio ad tenetur
                ab.
            </p>

            <a href="#" class="btn btn-outline-secondary mt-3"> <i class="bi bi-chevron-right"></i> Read More</a>
        </div>

        <div class="col-md">
            <img class="img-fluid" src="https://cdn.pixabay.com/photo/2021/06/17/19/06/sunset-6344387_960_720.jpg"
                alt="">
        </div>
    </div>
</section>


<!-- Accordion -->

<section class="p-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4"> FAQ </h2>

        <div class="accordion accordion-flush pb-5" id="questions">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                        the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-two">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                        the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                        this being filled with some actual content.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-three">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                        the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                        exciting happening here in terms of content, but just filling up the space to make it look, at
                        least at first glance, a bit more representative of how this would look in a real-world
                        application.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container my-10 p-5">

</div>