<section class="p-5 mt-5 p-lg-0 pt-lg-5 text-center text-md-start">
  <div class="container">
    <form action="/auth/login" method="POST">
      <div class="form-group centered-div land-page-form mb-3">
        <label for="email">Email address:</label>
        <input type="email" name="email" class="form-control mt-1" id="email" placeholder="Enter email">
      </div>
      <div class="form-group centered-div land-page-form mb-3">
        <label for="passowrd">Password:</label>
        <input type="password" name="password" class="form-control mt-1" id="password" placeholder="Password">
      </div>
      <div class="centered-div mb-5">
        <input type="submit" value="Login" class="d-block m-auto ml-24 btn btn-primary"></input>
      </div>
    </form>
  </div>
</section>