.link-holer #link-effect {
    /* color: #FFF; */
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


/* Top and Bottom borders go out */
.link-holer #link-effect:before,
.link-holer #link-effect:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #4A4A4B;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.link-holer #link-effect:before {
    top: 0px;
    transform: translateY(10px);
}

.link-holer #link-effect:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.link-holer #link-effect:hover:before,
.link-holer #link-effect:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

.centered-div{
    margin: auto;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
    float: none;
}

.form-check-input[type=checkbox]:hover {
    cursor: pointer;
}

em{
    color: lightslategray;
}

/* --------- */
/* Error window */
#modal-error{
    display: block;
}

#close-span{
    cursor: pointer;
}

.modal-footer{
    border-top: none;
}

/* Style profile picture */
#profile-picture{
    width: 40px;
    border-radius: 50%;
}

/* Fix landing page input */
.nav-page-form{
    display: flex;
    align-items: center;
    margin: auto;
}

.nav-page-form div a{
    width: 20px;
}

@media (min-width: 768px){
    .nav-page-form{
        width: 45%;
    }

    .land-page-form{
        width: 60%;
    }
}