.feed-article,
.post-from{
    width: 80%;
}

.post-likes>span{
    font-style: italic;
}

#post-actions>a>i{
    width: 100px;
}

.search-container{
    width: 60%;
    margin: auto;
}

.bi-heart-fill{
    margin-right: 2px;
}

.comment{
    width: 90%;
    margin: auto;
}